@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

:root{
  --main-font-theme: "Overpass";
  --theme-white: hsl(0, 0%, 100%);
  --theme-orange: hsl(25, 97%, 53%);
  --theme-light-grey: hsl(217, 12%, 63%);
  --theme-medium-grey: hsl(216, 12%, 54%);
  --theme-dark-blue: hsl(213, 19%, 18%);
  --theme-very-dark-blue: hsl(216, 12%, 8%);
  --custom-dark-blue: hsl(215, 21%, 16%);
}

body{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--theme-very-dark-blue);
  font-family: var(--main-font-theme);
}


p{
  font-size: 15px;
}

.mainContent{
  width: 340px;
  border: 3px black solid;
  padding: 28px;
  background-color: var(--custom-dark-blue);
  border-style: none;
  border-radius: 18px;
}

.star{
  border-style: none;
  border-radius: 100px;
  background-color: var(--theme-dark-blue);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px;
}

.query{
  color: var(--theme-white);
  margin-top: 28px;
  margin-bottom: 0px;
}

.mainContent > p{
  color: var(--theme-light-grey);
}

.ratingOptions{
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 98%;
}

.ratingOptions > button{
  width: 50px;
  height: 50px;
  background-color: var(--theme-dark-blue);
  border-radius: 100px;
  border-style: none;
  color: var(--theme-light-grey);
  font-weight: 700;
}

#submitButton{
  width: 98%;
  height: 45px;
  background-color: var(--theme-orange);
  border-radius: 100px;
  border-style: none;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button-align{
  text-align: center;
}

.attribution{
  font-size: 11px;
  text-align: center;
  color: white;
  margin-top: 10px;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}

.thankyou{
  text-align: center;
}

p.rateReview{
  color: var(--theme-orange);
  font-weight: 100;
  background-color: var(--theme-dark-blue);
  border-radius: 75px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.thanksText{
  color: white;
}

.invisible{
  display: none;
}
