@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

:root{
  /* Primary */
  --theme-purple: hsl(259, 100%, 65%);
  --theme-light-red: hsl(0, 100%, 67%);

  /* Neutral */
  --theme-white: hsl(0, 0%, 100%);
  --theme-off-white: hsl(0, 0%, 94%);
  --theme-light-grey: hsl(0, 0%, 86%);
  --theme-smokey-grey: hsl(0, 1%, 44%);
  --theme-off-black: hsl(0, 0%, 8%);

  --font-theme-poppins: "Poppins";

  --input-font-size: 32px;
}

body{
  background-color: var(--theme-off-white);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  overflow: hidden;

  font-family: var(--font-theme-poppins);
}

main, footer{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container{
  width: 800px;

  background-color: var(--theme-white);
  border-style: none;
  border-radius: 20px 20px 200px 20px;
}

.container-content{
  margin: 55px;
}

.entry-boxes-section{
  display: flex;
  justify-content: space-between;

  width: 75%;
}

.fieldTitle{
  text-transform: uppercase;
  letter-spacing: 3px;
  color: var(--theme-smokey-grey);

  margin: 0px;
  margin-bottom: 8px;
}

.entry-boxes-section input[type="text"]{
  width: 115px;
  padding: 10px 15px 10px 20px;

  font-size: var(--input-font-size);
  font-family: var(--font-theme-poppins);
  font-weight: 400;

  border-radius: 8px;
  border: 1px solid var(--theme-light-grey);
}

.entry-boxes-section input[type="text"]:hover{
  cursor: pointer;
}

.entry-boxes-section input[type="text"]:focus{
  outline: none;
  border: 1.5px solid var(--theme-purple);
}

.display-none{
  display: none;
}

.fieldTitleErrorState{
  color: var(--theme-light-red);
}

.inputErrorState{
  border-color: var(--theme-light-red);
}

.missingField, .invalidField{
  color: var(--theme-light-red);
  font-family: sans-serif;
  font-style: italic;
  font-size: 14px;
  margin-top: 8px;
  ,margin-bottom: 0px;
}

/*************************** SECTION DIVIDER + BUTTON ***************************/

.section-divider{
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
}

.section-divider > hr{
  border-color: 5px groove var(--theme-light-grey);
}

.section-divider > button{
  position: absolute;
  z-index: 999;
  top: -50px;
  right: 0;


  background-color: var(--theme-purple);

  border-style: none;
  border-radius: 100px;
  padding: 25px;
}

.section-divider > button:hover{
  background-color: var(--theme-off-black);
  cursor: pointer;
}

/********************************************************************************/

.age-display-section{
  font-size: 80px;
}

.age-display-section > p{
  margin: 0px;
  font-weight: 800;
  font-style: italic;
  line-height: 100px;
}

.age-display-section > p > span{
  color: var(--theme-purple);
}


.attribution{
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}
