@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
  --theme-dark-cyan: hsl(185, 75%, 39%);
  --theme-very-dark-desaturated-blue: hsl(229, 23%, 23%);
  --theme-dark-grayish-blue: hsl(227, 10%, 46%);
  --theme-dark-gray: hsl(0, 0%, 59%);

  --font-theme: "Kumbh Sans";
}

body{
  background-color: var(--theme-dark-cyan);
  background-image: url("./images/bg-pattern-top.svg"), url("./images/bg-pattern-bottom.svg");
  background-repeat: no-repeat, no-repeat;
  /* top img is offset 52 percent of the vw from the right and offset 35 of the vh from the bottom*/
  /* bottom img is offset 48 percent of the vw from the left and offset 52 of the vh from the top*/
  background-position: right 52vw bottom 35vh, left 48vw top 52vh;
  display: flex; /* sets to flex diplay */
  flex-direction: column; /* stacks two main divs ontop of each other */

  /* justify-content: center vertically aligns items when flex direction is column */
  /* justify-content: center horizontally aligns items when flex direction is row */

  /* align-items: center horizontally aligns items when flex direction is column */
  /* align-items: center vertically aligns items when flex direction is row */

  justify-content: center; /* vertically aligns items */
  align-items: center; /* horizontally aligns items */
  min-height: 100vh;
  overflow: hidden;
  font-family: var(--font-theme);
}

.main-content{
  width: 350px;
  border-radius: 15px;
  background-color: white;
  box-shadow:  0 10px 30px hsla(0, 0%, 0%, 20%);
}

.card-pattern{
  max-width: 100%;
  max-height: 100%;
}

.card-pattern > img{
  max-width: 100%;
  max-height: 100%;
  /* two options to round image edges*/
  /* first option is to apply border radius to image directly as seen below */
  /* second option is to apply border radius to div encapsulating image and then overflow: hidden*/
  border-radius: 15px 15px 0 0;
}

.profile-pic{
  margin: 0 auto  ;
  position: relative;
  z-index: 99;
  top: -55px; /* Adjust the value as needed to vertically align the image */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px black solid;
}

.profile-pic > img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
  border-color: white;
  border-style: solid;
  border-width: 3px;
  border-radius: 50px;
}

.personal-info > h4, span, p{
  border: 3px black solid;

}


.profile-stats{
  width: 100%;
  display: flex;
   /* horizontally spaces out items out since this box is flex-direction: row by default */
  justify-content: space-around;
  border: 3px black solid;
  flex-grow: 1;
  margin-bottom: 0;
}

.profile-stats > div{
  border: 3px black solid;
  display: inline-block;
  text-align: center;
}

.profile-stats p{
  color: var(--theme-dark-grayish-blue);
  font-size: .6rem;
  letter-spacing: .15em;
  margin-top: 0.4rem;
}


.attribution{
  font-size: 11px;
  text-align: center;
  margin-top: 15px;
}

.attribution a{
  color: hsl(228, 45%, 44%);
}
