@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    /*** Primary ***/

    /* intro-and-email-sign-up-background */
    --theme-dark-blue-1: hsl(217, 28%, 15%);
    /* main-background */
    --theme-dark-blue-2: hsl(218, 28%, 13%);
    /* footer-background */
    --theme-dark-blue-3: hsl(216, 53%, 9%);
    /* testimonials-background */
    --theme-dark-blue-4: hsl(219, 30%, 18%);


    /*** Accent ***/

    /* inside-call-to-action-gradient */
    --theme-cyan: hsl(176, 68%, 64%);
    /* inside-call-to-action-gradient */
    --theme-blue: hsl(198, 60%, 50%);
    /* error */
    --theme-light-red: hsl(0, 100%, 63%);


    /*** Neutral ***/

    --theme-white: hsl(0, 0%, 100%);

    --font-size: 14px;

    /* Headings, Call-to-actions, Header Navigation */
    --font-theme-raleway: "Raleway";

    /* Body */
    --font-theme-open-sans: "Open Sans";
}

body {
    background-color: var(--theme-dark-blue-2);
    margin: 0px;

    font-family: var(--font-theme-open-sans);
}

html::-webkit-scrollbar {
    background-color: var(--theme-dark-blue-2);
    width: 12px;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
}

html::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
}

main{
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--theme-white);

    margin-top: 45px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 45px;

    > .navigation-box {
        display: flex;
        justify-content: center;

        > .navigation-box-contents {
            width: 250px;
            display: flex;
            flex-shrink: 0;
            justify-content: space-between;
        }
    }
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;

    > h1 {
        color: var(--theme-white);
        width: 600px;
        text-align: center;
        margin-top: 35px;
        margin-bottom: 15px;
    }

    > p {
        color: var(--theme-white);
        width: 500px;
        text-align: center;
    }

    button {
        color: var(--theme-white);
        background-color: var(--theme-blue);
        border-style: none;
        border-radius: 50px;
        padding: 15px 65px 15px 65px;

        margin-top: 20px;

        font-weight: 700;

        &:hover {
            background-color: var(--theme-cyan);
            cursor: pointer;
        }
    }
}

.four-features-box {
    display: grid;
    grid-template-columns: repeat(2, 380px);
    grid-auto-rows: 260px;
    grid-column-gap: 112px;
    grid-row-gap: 28px;

    align-items: center;
    justify-content: center;

    margin-top: 85px;
    margin-bottom: 85px;

    >div {
        text-align: center;

        >h3 {
            color: var(--theme-white);
        }

        >p {
            color: white;
            font-size: var(--font-size);
        }
    }
}

.productivity-box {
    display: flex;
    flex-direction: row;
    margin-left: 75px;
    margin-right: 75px;

    >.half-box {
        width: 50%;
        height: 100%;
    }

    .productivity-box-text-content {
        color: var(--theme-white);
    }

    h1{
        font-family: var(--font-theme-raleway);
        width: 300px;
    }

    a {
        display: inline;
        align-items: center;
        
        position: relative;
      
        i {
          margin-left: 10px;
        }
      
        &::after {
          content: "";
          width: 0%; /* animate the underline */
          height: 2px;
          background-color: var(--theme-white); // Make sure this CSS variable is defined
          position: absolute;
          left: 0;
          top: 110%;
          transition: all 0.4s; /* animate the underline */
        }

        &:hover{
            cursor: pointer;
        }
      
        &:hover::after {
          width: 100%;
        }
      }
      
}

.review-box {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    grid-auto-rows: 290px;
    grid-column-gap: 40px;

    justify-content: center;

    background-image: url("./images/bg-quotes.png");
    background-repeat: no-repeat;
    background-position: top 0px left 85px;

    margin-top: 85px;
    margin-bottom: 300px;

    >.testimonial-box {
        background-color: var(--theme-dark-blue-4);
        border-style: none;
        border-radius: 10px;
        margin-top: 38px;
        margin-bottom: 38px;

        >.testimonial-box-content {
            margin-top: 35px;
            margin-left: 28px;
            margin-right: 28px;

            p {
                color: var(--theme-white);
                margin-bottom: 28px;
            }
        }
    }
}

.profile-box {
    display: flex;
    flex-direction: row;
    align-items: center;

    >.profile-photo-box {
        >img {
            width: 40px;
            height: 40px;
            border-style: none;
            border-radius: 100px;
        }
    }

    >.name-title-box {
        margin-left: 15px;
        color: var(--theme-white);

        >h5 {
            margin: 0px;
        }

        >h6 {
            margin: 0px;
            font-weight: 400;
        }
    }
}

.signup-section {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -400px;
    left: 0;
    right: 0;

    >.signup-box {
        width: 800px;
        background-color: var(--theme-dark-blue-1);
        border-style: none;
        border-radius: 10px;
        box-shadow: 3px 3px 5px 0 hsl(0, 0%, 0%);

        >.signup-box-content {
            color: var(--theme-white);
            text-align: center;

            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
}

.signup-box-content {
    p {
        font-size: var(--font-size);
        margin: 20px 70px 35px 70px;
    }

    input[type="text"] {
        padding: 15px 30px 15px;
        width: 50%;

        border-style: none;
        border-radius: 50px;
    }

    button {
        background-color: var(--theme-blue);
        padding: 15px 25px 15px 25px;
        border-style: none;
        border-radius: 50px;
        color: var(--theme-white);
        margin-left: 15px;
        font-weight: 700;

        &:hover {
            background-color: var(--theme-cyan);
            cursor: pointer;
        }
    }

    .errorMessage{
        display: none;
        color: var(--theme-light-red);
        margin-top: 8px;
        font-size: 14px;
    }
}


footer {
    background-color: var(--theme-dark-blue-3);
    padding-top: 150px;
    padding-bottom: 25px;
}

.true-footer {
    color: var(--theme-white);

    >div {
        margin-left: 75px;
        margin-right: 75px;
    }

    >.true-footer-contents {

        >.logo-box {
            margin-bottom: 50px;

            img {
                width: 120px;
            }
        }

        >.true-footer-main-contents {
            display: flex;
            justify-content: space-between;

            > .vertical-align {
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                > a:hover{
                    font-weight: 700;
                    cursor: pointer;
                }
            }

            > .horizontal-align {
                display: flex;
                flex-direction: row;
                align-items: flex-start;
            }

            > .footer-location-box {
                width: 375px;

                > div {
                    display: inline;
                    margin: 0px;
                    margin-right: 20px;
                }

                >p {
                    margin: 0px;
                    font-size: var(--font-size);
                }
            }

            > .contact-box{
                height: 60px;
                div{
                    display: flex;
                    align-items: center;

                    span{
                        margin-left: 10px;
                    }
                }
            }

            > .link-box1{
                height: 120px;
                width: 90px;
            }

            > .link-box2{
                height: 90px;
                width: 95px;
            }

            > .footer-socials-box {
                width: 150px;
                justify-content: space-around;

                div {
                    border: white 1px solid;
                    border-radius: 100px;

                    i {
                        margin: 8px;
                    }

                    &:hover {
                        border-color: var(--theme-cyan);
                        color: var(--theme-cyan);
                        cursor: pointer;
                    }
                }
            }
        }
    }
}


.attribution {
    font-size: 11px;
    text-align: center;
    color: var(--theme-white);
    margin-top: 25px;

    >a {
        color: hsl(228, 45%, 44%);
    }
}