/*@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;500;600;700&display=swap');

:root{
    --color-body: #ffffff; /* white */
    --color-heading: #eef3db; /* baige */                           /* og */
    --color-base: #2596be; /* cool blue */
    --color-base2: #000000;  /* black */
    --color-brand: #e0f780; /* slightly less bright yellow green */ /* og */
    --color-brand2: #deff58; /* bright yellow green */              /* og */
    --color-body-bright: white;
    --sidebar-width: 220px;
    --font-base: "Bai Jamjuree";
}

*{
  margin: 0;
  padding: 0;
}

/* Disable side scrolling */
/* https://stackoverflow.com/questions/17756649/disable-the-horizontal-scroll */
/* !!! This code causes scrollspy to break new code was added to replace this */
/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */

body{
  background-color: var(--color-base2);
  color: var(--color-body);
  font-family: var(--font-base), sans-serif;
}

/* Custom scrollbar */
/* https://css-tricks.com/classy-and-cool-custom-css-scrollbars-a-showcase/ */
html::-webkit-scrollbar {
    background-color: #000;
    width: 12px;
    border-radius: 10px;
}

html::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

html::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(.5, #a520ca), color-stop(1, #2681cc));
    border-radius: 10px;
}
/* end of code for custom scrollbar */

h1, h2, h3, h4, h5, h6{
  color: var(--color-heading);
  font-weight: 700;
}

a{
  text-decoration: none;
  color: var(--color-body);
  transition: all 0.4s ease;
}

a:hover{
  color: var(--color-brand);
}

img{
  width: 100%;
}

.text-brand{
  color: var(--color-brand);
}

.bg-base{
  background: var(--color-base);
  /* color base: #033f47 is the same as (3, 63, 71)*/
  /*background: rgba(3, 63, 71, 0.5);*/
}

.bg-base2{
  background: rgba(7, 152, 171, 0.4);
}

.full-height{
  min-height: 100vh;
  height: 100%;
  /* center the content of the section */
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgba(255,255,255, 0.1);

  /* next two lines fixes scrollspy while keeping horizontally overflowing elements hidden */
  max-width: 100%;
  overflow-x: hidden;
}

#newbie, #junior, #intermediate, #advanced, #guru{
  overflow: hidden;
}

#newbie, #intermediate, #guru, #contact{
  background-image: url("../images/peakpx-iceberg_cleanup_enhanced_cropped_copy.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#junior, #advanced, #links, footer{
  background-image: url("../images/peakpx-iceberg_cleanup_enhanced_cropped.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}


.logo-box{
  overflow: hidden;
  width: 80%;
  margin: auto;
}

.theme1-background{
  background-image: url(../images/peakpx-iceberg.jpg);
  background-size: cover;
  background-position: center;
}



.vert-center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vert-center > img{
  opacity: 0.8;
}

.vert-center > img:hover{
  opacity: 1;
}

.shadow-effect{
  transition: all 0.5s;
}

.shadow-effect:hover{
  /*background: rgba(3, 63, 71, 1);*/
  box-shadow: -6px 6px 0 0 var(--color-brand); /* from the x-axis -6 pixel, from the y-axis*/
  opacity: 1;
}

.iconbox{
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  background-color: rgba(39, 49, 56, 0.7);
  /* background-color: rgb(7, 152, 171); */
  /* background-color: var(--color-brand); */
  color: var(--color-base);
}

/* NAVBAR */

/* Navbar class when window size is small */
.navbar{
  background: linear-gradient(rgba(107,128,204, 0.4), rgba(107,128,204, 0.4)), url(../images/peakpx-iceberg.jpg); /* rgba = rgb + opacity */
  background-size: cover;
  background-position: center;
}

.navbar .nav-link{
  font-weight: 700;
  text-transform: uppercase; /* text-transform - used to change everything to uppercase or lowercase*/
  color: white;
}

.navbar .nav-link:hover{
  color: var(--color-brand);
}

/* changes color of text/link in navbar to active page, e.g. services text highlighted when in services section */
/* works together with scrollspy in body tag */
.navbar .nav-link.active {
    color: var(--color-brand);
}

@media (min-width: 992px){ /* if browser window is equal to this or greater than, the following occurs */
  /* Making the navbar a column with background image and opacity overlaying ontop of background image */
  .navbar{
    min-height: 100vh;
    width: var(--sidebar-width);
    /* https://www.w3schools.com/colors/colors_picker.asp */
    background: linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.3)), url(../images/peakpx-iceberg.jpg); /* rgba = rgb + opacity */
    background-size: cover;
    background-position: left;
  }

  .navbar2{
    width: 50px;
  }

  .navbar-brand2{
    width: 0%;
    border-width: 0px;
    border-style: none;
    border-color: transparent;
  }

  .full-wrapper{
    padding-left: var(--sidebar-width);
  }

  .content-change-wrapper{
    padding-left: 50px;
  }
}

.btn{
  padding: 12px 28px;
  font-weight: 700;
}

.btn-brand{
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  color: var(--color-base);
}

.btn-brand:hover,
.btn-brand:focus{
  background-color: var(--color-brand2);
  color: var(--color-base);
  border-color: var(--color-brand2);
}


.link-custom{
  font-weight: 700;
  position: relative;
}

.link-custom::after{
  content: "";
  width: 0%; /* animate the underline */
  height: 2px;
  background-color: var(--color-brand);
  position: absolute;
  left: 0;
  top: 110%;
  transition: all 0.4s; /* animate the underline */
}

/* animate the underline */
.link-custom:hover::after{
  width: 100%;
}

.translucent-card{
  opacity: 0.5;
}


/* SETTINGS INCLUSIVE TO PROJECT & BLOG SECTION */
.card-custom .card-custom-image{
  overflow: hidden;
}

.card-custom .card-custom-image img{
  transition: all 0.4s ease;
}

.card-custom:hover .card-custom-image img {
  transform: scale(1.1);
}

/* CONTACT */
#contact .form-control {
  background-color: var(--color-base);
  opacity: 0.5;
  border-color: var(--color-base);
  color: var(--color-body);
}

#contact .form-control:focus {
  border-color: var(--color-brand);
  box-shadow: none;
}

#contact .form-control::placeholder {
  color: var(--color-body);
}

#contact input.form-control {
  height: 44px;
}

.my-site-cred{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* SOCIAL ICONS */
.social-icons a {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base);
  border-radius: 100px;
  font-size: 24px;
}

#leetcode_icon, #frontendmentor_icon{
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-base);
  border-radius: 100px;
  font-size: 24px;
}




/*/////////////////////////////////////*/
/*// TOP LEFT MINIMIZE NAVBAR TOGGLE //*/
/*/////////////////////////////////////*/

#minimize-navbar-button{
  width: 50px;                 /* width of button attribute is set to 50px */
  height: 50px;               /* height of button attribute is set to 50px */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;    /* background of button is transparent so it matches thae current navbar background */
  border-radius: 100px;
  border-color: transparent;  /* border-color of button is set to transparent so no lines appear around button */
  font-size: 24px;
  transition-delay: 0.1s;     /* adds a delay between hovering over the button and the highlighting */
  color: white;
}

#minimize-navbar-button:hover{
  border-color: rgba(107, 128, 204, 0.4);     /* border of button changes uppon hover */
  background-color: rgba(107, 128, 204, 0.4); /* background of button changes upon hover */
}

/*//////////////////////////////////////*/
/* BOTTOM LEFT APPEARANCE NAVBAR TOGGLE */
/*//////////////////////////////////////*/

#site-appearance-settings-button{
  width: 50px;                 /* width of button attribute is set to 50px */
  height: 50px;               /* height of button attribute is set to 50px */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;    /* background of button is transparent so it matches thae current navbar background */
  border-radius: 100px;
  border-color: transparent;  /* border-color of button is set to transparent so no lines appear around button */
  font-size: 24px;
  transition-delay: 0.1s;     /* adds a delay between hovering over the button and the highlighting */
  color: white;
}

#site-appearance-settings-button:hover{
  border-color: rgba(166,108,192, 0.4);     /* border of button changes uppon hover */
  background-color: rgba(166,108,192, 0.4); /* background of button changes upon hover */
}


/*//////////////////////////////////////*/
/*// BACK TO TOP BUTTON ON MAIN PAGE  //*/
/*//////////////////////////////////////*/

#to_top {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: white; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#to_top img{
  width: 28px; /* set width of image which also affects size of button */
  height: 28px; /* set height of image which also affects size of button */
}

#to_top:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.card-links-mentor{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/***************************/

.Text__Wrapper-sc-zbm6r7-0 {
    padding: 0rem 0.75rem;
}

.newbie-difficulty-box {
    border: 1px solid rgb(106, 190, 205);
    border-radius: 0.5rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.newbie-difficulty-box > .newbie-difficulty-number {
    background-color: rgb(106, 190, 205);
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
}

.newbie-difficulty-box > .newbie-difficulty-text {
    background-color: transparent;
    color: rgb(106, 190, 205);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
    text-transform: uppercase;
}

/**************************/

.junior-difficulty-box {
    border: 1px solid rgb(170, 215, 66);
    border-radius: 0.5rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.junior-difficulty-box > .junior-difficulty-number {
    background-color: rgb(170, 215, 66);
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
}

.junior-difficulty-box > .junior-difficulty-text {
    background-color: transparent;
    color: rgb(170, 215, 66);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
    text-transform: uppercase;
}

/***************************************/

.intermediate-difficulty-box {
    border: 1px solid rgb(241, 182, 4);
    border-radius: 0.5rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.intermediate-difficulty-box > .intermediate-difficulty-number {
    background-color: rgb(241, 182, 4);
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
}

.intermediate-difficulty-box > .intermediate-difficulty-text {
    background-color: transparent;
    color: rgb(241, 182, 4);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
    text-transform: uppercase;
}

/***************************************/

.advanced-difficulty-box {
    border: 1px solid rgb(244, 137, 37);
    border-radius: 0.5rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.advanced-difficulty-box > .advanced-difficulty-number {
    background-color: rgb(244, 137, 37);
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
}

.advanced-difficulty-box > .advanced-difficulty-text {
    background-color: transparent;
    color: rgb(244, 137, 37);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
    text-transform: uppercase;
}

/**************************************/

.guru-difficulty-box {
    border: 1px solid rgb(237, 44, 73);
    border-radius: 0.5rem;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    overflow: hidden;
}

.guru-difficulty-box > .guru-difficulty-number{
    background-color: rgb(237, 44, 73);
    color: rgb(255, 255, 255);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
}

.guru-difficulty-box > .guru-difficulty-text {
    background-color: transparent;
    color: rgb(237, 44, 73);
    font-family: Barlow, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0px;
    text-transform: uppercase;
}

/*************************************/

.proj-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.prog-lang-icon{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
   /* forces div to remain at width its set to cannot be pressured to reduce size */
  flex-shrink: 0;
}

.icon-3{
  width: 120px;
}

.icon-2{
  width: 80px;
}

.icon-4{
  width: 160px;
}

.prog-lang-icon > img{
  width: 30px;

}

.settings-popup{
  /*display: none;*/
  display: none;
  position: fixed;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0, 0.5);
}


#site-settings-popup-box{
  position: fixed;
  width: 1080px;
  height: 720px;
  background-color: white;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  margin-left: -540px;
  margin-top: -360px;
}

#settings-popup-box-contents{
  /*border: 3px black solid;*/
  margin: 50px 50px 0px 50px;
  height: 100%;
}

#settings-popup-box-contents > h2{
  color: black;
}

#close-site-appearance-settings-button{
  width: 50px;                 /* width of button attribute is set to 50px */
  height: 50px;               /* height of button attribute is set to 50px */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;    /* background of button is transparent so it matches thae current navbar background */
  border-radius: 100px;
  border-color: transparent;  /* border-color of button is set to transparent so no lines appear around button */
  font-size: 24px;
  transition-delay: 0.1s;     /* adds a delay between hovering over the button and the highlighting */
  color: white;
  margin-top: 20px;
  margin-right: 30px;
}

#close-site-appearance-settings-button:hover{
  border-color: rgba(0,0,0, 0.7);     /* border of button changes uppon hover */
  background-color: rgba(0,0,0, 0.7); /* background of button changes upon hover */
}

#settings-theme-options{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 25px;
}


#settings-theme-options > button{
  width: 200px;
  border-style: none;
  border-radius: 8px;

  overflow: hidden;
}

#settings-theme-options > button > img{
  transition: all 0.4s ease;
}

#settings-theme-options > button > img:hover{
  transform: scale(1.2);
}

#dark-light-toggle-box{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 35px;
}

#dark-light-toggle-box > h2{
  color: var(--color-base2);
  margin-right: 25px;
}

#dark-light-button{
  background-color: transparent;
  width: 60px;
  height: 60px;
  border-style: none;
  border-radius: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#dark-light-button:hover{
  border-style: groove;
  border-color: black;
  cursor: p
}

#dark-light-button > img{
  width: 90%;
  height: 90%;
  border-style: none;

}

#light-mode-icon{
  display: block;

}

#dark-mode-icon{
  display: none;
}
